.testimonial{
	text-align: center;
	margin-top: 10%;
}
.testimonial img{
	border-radius: 50%;
	max-width: 100px;
	margin-bottom: -45px;
}
blockquote{
	font-size: 1.3em;
	position: relative;
}
p::before{
	content: "\201C";
	font-size: 3em;
	font-family: sans-serif;
	position: relative;
    top: 16px;
    color: deeppink;
}