body{
	font-family: Arial, Helvetica, sans-serif;
}
.m10{
	margin-top: 10px;
}
/* hover then transition example */
.box{
	position: relative;
	width: 200px;
	height: 100px;
	background: green;
}

.box-inner{
	position: absolute;
	width: 200px;
	height: 0px;
	background: red;
	top: 100px;
    transition: height 1s ease;
}

.box:hover .box-inner{
	height: 100px;
}

/* 
issue: 
CSS3 Transitions don't apply to the 'display' property, 
i.e. you can't do any sort of transition from 
display: none to display: block (or any combination)
Best Answer :  https://stackoverflow.com/questions/3331353/transitions-on-the-display-property 
*/

/* end of transition example */

/* hover and nav list display example */
.nav{
	margin-top: 20px;
	position: relative;
	display: inline-block;
}
.btn{
	width: 150px;
	height: 30px;
	background: green;
	color: #fff;
	border: none;
	cursor: pointer;
}
.nav-list a{
	display: block;
	text-decoration: none;
	padding: 15px;
}
.nav-list a:hover{
	color: #000;
}
.nav-list{
	position: absolute;
	min-width: 150px;
	max-height: 0;
    transition: max-height 1s ease;
    /* transition: max-height 0.15s ease-out; */
    overflow: hidden;
    background: #f5f5f5;
}
.nav:hover .nav-list{
	max-height: 500px;
    /* transition: max-height 0.25s ease-in; */
}
/* Best Answer:https://stackoverflow.com/questions/3508605/how-can-i-transition-height-0-to-height-auto-using-css */
/* end of hover and nav list display example */


/* list style without list drop down  */
.simple-nav-list{
	background: green;
	overflow: auto;
}

.simple-nav-list li{
	display: inline;
	padding: 0;
	float: left;
	margin-right: 2px;
}

.simple-nav-list a{
	text-decoration: none;
	color: #fff;
	padding: 15px;
	display: inline-block;
	font-weight: bold;
	font-family: serif;
	background: #444;
}

/* Best Answer : https://stackoverflow.com/questions/218760/how-do-you-keep-parents-of-floated-elements-from-collapsing
important fact is float left using here to reduce left margin.
also used float left and also oberflow:auto to keep parent div height. 
end of list style without list drop down  */

.nav-bar{
	overflow: hidden;
    background-color: #333;
}
.nav-bar a{
	float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.dropdown{
	float: left;
    overflow: auto;
}

.dropbutton {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}