.sidenav{
	background-color: #563d7c;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 240px;
	transition: 0.3s;
}
.sidenav a{
	text-decoration: none;
	display: block;
	color: #fff;
	padding: 0.5rem;
	border-bottom: 1px solid #fff;
	font-size: 1.2em;
}
.active{
	width: 0px;
}
.button-position{
	/* padding-left: 15px !important; */
	transition: 0.3s;
}