.line1,.line2{
	width: 40px;
	height: 5px;
	background: #000;
	margin-bottom: 6px;
}
.line1{
	transform: rotate(50deg) translate(8px, 12px);
}
.line2{
	transform: rotate(130deg) translate(5px, -1px);
}