.icons{
	/* border: 1px solid red; */
	width: 70px;
}
.icons a{
	display: block;
	background: green;
	border-bottom: 1px solid #fff;
	color: #000;
	font-size: 30px;
	padding: 15px;
	text-align: center;
	transition: 0.5s;
	width: 100%;
}
.icons a:hover{
	color: #fff;
	width: 120px;
}