.quote{
	text-align: center;
	margin-top: 15%;
}
blockquote{
	font-size: 1.3em;
}
blockquote::before{
	content: "\201C";
	font-size: 3em;
	font-family: sans-serif;
	position: relative;
    top: 18px;
    color: deeppink;
}